<div class="product">


  <h1> button to buy : </h1>
  <button class="buy-button snipcart-add-item"
    data-item-name="{{ product.name }}"
    data-item-id="{{ product.sku }}"
    data-item-image="{{ product.image }}"
    data-item-url="{{ site.baseurl }}"
    data-item-price="{{ product.price }}">
    Buy it for {{ product.price }} $
  </button>




</div>
<div>

  <a href="#"
      class="snipcart-add-item buy-button"
    data-item-id="{{ product.identifier }}"
    data-item-name="{{ product.name }}"
      data-item-url="http://myapp.com/products/bacon"
      data-item-description="A custom tshirt"

      data-item-custom2-name="Type"
      data-item-custom2-options="cachet|palleitte"
    data-item-custom3-name="Quantité"
    data-item-custom3-options="100g|200g[+10.00]|500g[+20.00]|1000g[+30.00]"
    data-item-price="{{ product.price }}"
     >
     Buy now
  </a>

</div>

<!--   <h2> other test </h2>
  <figure class="product snipcart-add-item"
    data-item-id="{{ product.id }}"
    data-item-name="{{ product.name }}"
    data-item-price="{{ product.price }}"
    data-item-url="{{ page.url }}">
    <img src="assets/images/logo_figma.png" alt="{{ product.name }}">
  <figcaption> {{ product.name }}/{{ product.price }} </figcaption>

  </figure>
 -->


