<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}


<body>
  {% include header.html %}
  <main class="main">
    <div class="products">
      {{ content }}



  {% for product in site.products %}
    {% include product.html %}
  {% endfor %}

    </div>
  </main>

  {% include footer.html %}
  <div hidden id="snipcart" data-api-key="S_NzBhZjU3MDQtNjczYy00ZWQwLWE2OTUtMDhkNTIyMzc4NWZmNjM3MDU0NTE0MjQzMzkxNTU5"></div>
  <script src="https://cdn.snipcart.com/themes/v3.0.0-beta.4.1/default/snipcart.js"></script>

</body>


</html>
